# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Netlify
.netlify/
dist/

# Logs and Databases
*.log
*.sql
*.db

# OS Files
.DS_Store

# Build
build/
node_modules/

# Environment Variables
.env

# IDE
.vscode/
.idea/
