# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Git
/tmp/repos/
.git-credentials

# Netlify
dist/
.netlify/

# Docker
*.log
docker-compose.override.yml

# Editor and OS
.DS_Store
*.swp
*.swo
.vscode/
.idea/

# Database
*.sql.dump
