[build]
  publish = "client"
  functions = "api"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["express", "cheerio"]

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/crawler/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/crawl"
  to = "/index.html"
  status = 200
