[build]
  publish = "."
  command = "npm install"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/crawler/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 3000

[build.environment]
  NODE_VERSION = "18"
